## Configuration and Temporary files
app/tmp/*
app/files/*
app/Config/database.php

## Simpletest
vendors/simpletest


## IDE files and folders
.cache
.project
.settings
nbproject
.idea
.DS_Store

## Allow 'empty' files
!empty

## ORIGINAL & DB
materia_candy.sql
materia_dev.sql
app/config/database.local.php
app/config/database.remote.php
app/config/database.local.old.php
